.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background:white;
    
    padding: 30px;
}
div h4{
    text-align: center;
    border-bottom:solid 2px rgb(0, 255, 170);
    color: aquamarine;
    
}
.d{
 background-color: azure;   
}

.waku{
width: 600px;
margin: auto;

}

.hisssu{
background-color: rgba(255, 80, 80, 0.647);
border-radius:5px;
color: white;


}
.yoko{
    float:left;
}
button{
    margin-top: 10;
    padding: 3px;
}
.sita{
    text-align: center;
    border-top: 300px red;
    padding:20px 0px 0px 0px ;

}
.sitabou{
    border-bottom:solid 2px rgb(0, 255, 170);
    margin-top: 20px;
}


textarea{
    border-radius:8px;
    border-color: rgba(11, 11, 11, 0.133);

}
